NEXT_PUBLIC_SUPABASE_URL=https://noknbjqiuzjeatdxxhry.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5va25ianFpdXpqZWF0ZHh4aHJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3MzQ0NDMsImV4cCI6MjA5NjMxMDQ0M30.6xiwyYPvgkrTMHbRHghRpJgpdmQ-joQr_pEH1tyw47g
NEXT_PUBLIC_API_URL=https://ai-job-search-tarf.onrender.com/api/v1
